body {
	background-color: #b0aac0;
	color: #ddeedd
}

button {
	border-radius: 20px;
	padding: 20px;
	margin: 10px;
}

.buttonColors {
	background-color: #f0efef;
	color: #b0aac0;
}

.selectedButton {
	background-color: #c2d4dd;
	color: #ddeedd;
}

#board {
	background-color: #ddeedd;
	margin: auto;
	width: 550px;
	height: 550px;
	padding: 60px;
}

.XO {
	background-color: #c2d4dd;
	border-color: #ddeedd;
	color: #ddeedd;
	border-width: 5px;
	border-style: solid;
	height: 150px;
	width: 150px;
	font-size: 95px;
}


